<!-- Site Web developpé par Clément LEFEVRE -->
<div class="headerLogo">
  <img src="../assets/img/logo.png" id="logo" alt="logo site">
  <form action="" class="search-bar">
    <input type="search" name="search" pattern=".*\S.*" required>
    <button class="search-btn" type="submit">
      <span>Search</span>
    </button>
  </form>
  <div routerLink="/panier" class="panier"><span class="material-symbols-outlined">
      shopping_cart</span><a>Panier&nbsp;:</a><br><span [@nbArticleUpdated]="nbArticle" id="nbArticlePanier">
      &nbsp;{{nbArticle}}</span></div>
</div>
<nav>
  <ul>
    <li><a href="#">Mes Photographies</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">A propos</a></li>
  </ul>
</nav>
<main>
  <router-outlet></router-outlet> <!-- Angular Outlet-->
</main>






<footer>
  <div id="listeFooter">
    <ul>
      <li><a href="#">Les Tableaux</a></li>
      <li><a href="#">Affichage général</a></li>
      <li><a href="#">Description</a></li>
      <li><a href="#"></a></li>
    </ul>
    <ul>
      <li><a href="#">A Propos</a></li>
      <li><a href="#">Auteur</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Carrière</a></li>
    </ul>
  </div>
  <div id="copyright"><span>@ClementLEFEVRE2022</span></div>
</footer>
