ul {
  display: flex;
  width: 70%;
  /* height:90vh; */
  margin-left: 5%;
  margin: 0 auto;
  background-color: white;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}

li {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45vh;
  border-radius: 55px;
  background-color: rgb(236, 235, 235);
  margin-top: 15vh;
  -webkit-box-shadow: 5px 5px 5px 0px #505050, inset 4px 4px 15px 0px #505050, 0px 16px 46px 13px rgba(0, 0, 0, 0.54);
  box-shadow: 5px 5px 5px 0px #505050, inset 4px 4px 15px 0px #505050, 0px 16px 46px 13px rgba(0, 0, 0, 0.54);
}

li img {
  margin-left: 5vw;
  width: 40vw;
  max-width: 40vh;
}

li a {
  margin-left: 25vw;
  font-size: 2em;
  /* top: -40%; */
  position: absolute;
  margin-top: -38vh;
  text-decoration: none;
  transition: all 0.2s ease;
}

li a:visited,
li a {
  color: black;
}

li a:hover {
  font-size: 2.5em;
  animation: gelatine 0.5s ease;
}

@keyframes gelatine {

  from,
  to {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

table {
  width: 40%;
}

td {
  margin-bottom: 2vh;
  border: 1px solid #333;
}


#containerCaract {
  display: flex;
  justify-content: space-around;
  width: fit-content;
  flex-wrap: wrap;
}


#Etage1,
#Etage2 {

  width: 80%;

}

#containerCaract div div {
  padding: 10px;
  margin-bottom: 1vh;
  border-radius: 12px;
  background-color: rgb(241, 241, 241);
  height: fit-content;
  width: fit-content;
}

#prix {
  font-size: 2em;
}

#textPanier {
  /* padding: 10px; */
  padding-left: 20px;
  padding-top: 10px;
  position: absolute;
  z-index: 2;
}

#ajoutPanier {
  margin-top: 5vh;
  width: 10vw;
  min-width: 130px;
  max-width: 160px;
  background-color: var(--couleur-navigation);
  border-radius: 12px;
  border: 1px solid gray;
  font-weight: bold;
  font-size: 1em;
  height: 5vh;
  transition: all 0.2s ease;
  cursor: pointer;
}


#ajoutPanier:hover .couleurHover {
  width: 10vw;
  border: 1px solid gray;
}

.couleurHover {
  height: 5vh;
  width: 0vw;
  max-width: 160px;
  border-radius: 12px;
  z-index: 1;
  position: absolute;
  transition: width 0.15s ease-out;
  background-color: var(--couleur-navigation-hover);
}

.grandeImg,
.grandeImg img {

  width: 65vw;
  /* height:90vh; */
}

.grandeImg img {

  width: 100%;
  height: 100%;
  max-width: none;
  z-index: 50;
}

.grandeImg {
  z-index: 9999;
  position: fixed;
  top: 2vh;
  left: 17.5vw;
  display: none;
}

.grandeImg {
  animation: animatezoom 0.6s
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

@media (max-width:768px) {
  ul li {
    flex-direction: column;
  }

  li a {
    margin: 0;
  }

  li img {
    margin-top: 5vh;
  }

  li {
    height: 60vh;
  }
}

.portrait{
  max-width:25vh !important;
}

@media (max-width:768px) {
  #containerCaract {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  #containerCaract div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  li img{
    margin-left: 0;
  }
}
  
