/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Lato:ital@1&display=swap');
*{
    box-sizing: border-box;
    font-family:'Lato',sans-serif;
}
:root{
    --couleur-navigation:#F0E7D9;
    --couleur-navigation-hover:#eecd97;
    --couleur-panier:#E3CAA2;
    --couleur-panier-hover:#dbb16c;
}
*{
    margin:0;
    padding:0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}